body{
    background-image: url(Pandas.webp);
    background-size: 100%;
}
p{
        text-align: center;
        color:rgb(255, 0, 0)
    }
img{
        height: 100px;
        font-weight: 100px;
    }
img:hover{
    animation: move 2s infinite;
}
@keyframes move {
    0%{transform:rotate(0deg)  
    } 
    50%{
        transform:rotate(360deg)
    }
    100%{
        transform:rotate(0deg)
    }
}